#titleSection {
    background-image: url("../images/ocean.jpg");
    color: rgb(42, 5, 209);
}

#infoPanel {
    background-color: rgb(214, 205, 205);
}

#infoPanel h6 {
    background-color: blue;
    color: white;
}